<h2>
  Hello {{studentName}}! You rendered your first component!
</h2>

<input [id]="myId" type="text" value="Vishwas">
<input disabled="false" id="{{myId}}" type="text" value="Disabled">
<input [disabled]="isDisabled" id="{{myId}}" type="text" value="Disabled">
<input disabled="{{isDisabled}}" id="{{myId}}" type="text" value="Disabled">

<h3 [class]="successClass">Coldevolution</h3>

<h3 [class.text-danger]="hasError">Error</h3>

<h3 [ngClass]="messageClasses">Status</h3>

<h4 [style.color]="hasError ? 'red' : 'green'">Style Binding</h4>

<h4 [style.color]="highlightColor">Style Binding Two</h4>

<h4 style.color="{{highlightColor}}">Style Binding Two v2</h4>

<h4 [ngStyle]="titleStyles">Style Binding Three</h4>

<!--
<button (click)="onClick()">Greet</button>

<button (click)="onClickEvent($event)">Event</button>

<button (click)="greeting='Welcome Matthew'">Hi</button>
{{greeting}} -->

<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button><br><br>

<!--Two way binding-->
<textarea [(ngModel)]="area"></textarea>
<p>Left words: {{count - area.length < 0 ? 0 : count - area.length}}</p>

<!--Structural directives-->
<h3 *ngIf="displayName; then thenBlock; else elseBlock">
  Jack! I am in 'if' block.
</h3>
<ng-template #thenBlock>
  <h3>
    Now I am in then block.
  </h3>
</ng-template>
<ng-template #elseBlock>
  <h3>
    Now I am in else block.
  </h3>
</ng-template>


<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You chose red!</div>
  <div *ngSwitchCase="'blue'">Now Its blue.</div>
  <div *ngSwitchCase="'green'">GREENland</div>
  <div *ngSwitchDefault>Again</div>
</div>

<div *ngFor="let color of colors">
  <h5>
    {{color}}
  </h5>
</div>
